a{
    text-decoration: none;
    color:black;
}
nav{
    width:60%;
    margin: auto;
    height:5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
    padding:15px 0px;
}

nav>img{
    width:20%;
}

.nav-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:30px;
    width:60%;
}
.nav-button{
    cursor: pointer;
    padding:10px 0px;
    border-bottom: 2px solid white;
}

.nav-button:hover{
    border-color: #ab7a5f;
}

.nav-function img{
    width:2rem;
}

.nav-function{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.nav-function .cart-icon{
    position: absolute;
    top:0px;
    right:0;
    margin-right: -5px;
    width:20px;
    height:20px;
    background-color: #ab7a5f;
    color:white;
    font-weight: 500;
    border-radius: 50%;
}
.nav-function .cart-counter{
    font-size: 16px;
    position: absolute;
    top:-2px;
    right:4px;
}
.nav-functions{
    font-size:1.3rem;
    display: flex;
    align-items: center;
    width:20%;
    height:70%;
    gap:20px;
}

@media screen and (max-width:1000px) {
    nav{
        width:100%;
        margin:0;
    }
    .nav-buttons{
        gap:1%;
        justify-content: space-around;
    }
    .nav-button{
        padding:10px 0px;
    }
    .nav-functions{
        font-size:1rem;
        gap:5px;
    }
    .nav-function img{
        width:1.5rem;
    }
    .nav-function .cart-counter{
        font-size: 14px;
        right: 2px;
        top:-2px;
    }
    .nav-function .cart-icon{
        width:15px;
        height:15px;
    }
}